* {
	margin: 0;
	padding: 0;
}

html {
	font-family: "Ubuntu", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	color: white;
	line-height: 1em;
	scroll-behavior: smooth;
	text-align: justify;
	line-height: 2.5em;
}

body {
	background-color: #41436a;
}

a {
	text-decoration: none;
	color: #ffffff;
}

#navbar {
	position: fixed;
	z-index: 5;
	width: 100%;
	background-color: #984063;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

#navbar ul {
	display: flex;
	list-style: none;
}

#navbar li {
	flex: 1 1 0;
	width: 0;
}

#navbar a {
	display: block;
	padding: 15px;
	text-align: center;
	font-size: 2rem;
}

#navbar a:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

#welcome-section {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(45deg, rgba(195, 20, 50, 0.6), rgba(36, 11, 54, 0.6));
	display: flex;
	/* align-items: center; */
	/* justify-content: center; */
	font-size: 4rem;
}

#welcome-section h1 {
	align-self: center;
	margin: auto;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.flip-box {
	background-color: transparent;
	width: 320px;
	height: 320px;
	border-radius: 10px;
	perspective: 1000px;
	margin: 90px 0 0 20px;
	position: absolute;
}

.flip-box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
	transform: rotateX(180deg);
}

.flip-box-front,
.flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-box-front {
	background-color: #41436a;
	background-image: url(res/20150922_113218.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	border-radius: 5px;
}

.flip-box-back {
	transform: rotateX(180deg);
}

.flip-box-front img {
	width: 150px;
	height: 150px;
	margin-top: 15px;
	border-radius: 50%;
}

.flip-box-front h6 {
	padding-top: 30px;
}

#projects {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	/* align-items: center;
	justify-content: center; */
	font-size: 4rem;
	background-image: linear-gradient(115deg, rgba(69, 69, 71, 0.521), rgba(69, 69, 71, 0.521)), url(res/project_backgound.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

#projects h1 {
	align-self: center;
	margin-top: 50px;
}

.project-tile {
	display: flex;
	align-self: center;
	margin: auto;
}

.project-tile iframe {
	width: 300px;
	height: 300px;
	margin: 10px;
}

#contact {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 4rem;
}

@media (max-width: 1000px) {
}
